{% extends 'internships/base.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{ company.title }} Details</title>
</head>


<body>
{% block content %}






    <div class="container" >
        <h1>{{ company.title }} Details</h1>

        <div class="row">
            <div class="col-md-6 ">
                <p> {{ company.company }}</p>
                <p>Location: {{ company.location }}</p>
                <p>Duration: {{ company.duration }} weeks</p>
                <p>Description: {{ company.description }}</p>
                <p>Requirements: {{ company.requirements }}</p>
                <p>Rating: {{ company.average_rating }}</p>
            </div>
        </div>

        <h2>Reviews</h2>
            <div class="album py-5 bg-body-tertiary">
            <div class=" d-flex flex-column justify-content-center">
                <div class="row justify-content-md-center">
                 <div class="col col-lg-5">
                    {% if messages %}
                        {% for message in messages %}<div class="alert alert-info">{{ message }}</div>{% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        {% for review in reviews %}
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">User: {{ review.user.username }}</h5>
                    <p class="card-text">Rating: {{ review.rating }}/10</p>
                    <p class="card-text">Review: {{ review.comment }}</p>
                    <p class="card-text">Date: {{ review.created_at }}</p>
                    {% if user.is_authenticated and user.username == review.user.username %}

                        <form method="post">
                            {% csrf_token %}
                            <p>
                                <label for="{{ form.rating.id_for_label }}">Rating:</label>
                                {{ form.rating }}
                            </p>
                            <p>
                                <label for="{{ form.comment.id_for_label }}">Comment:</label>
                                {{ form.comment }}
                            </p>
                            <button type="submit" class="btn btn-primary">Update Review</button>
                        </form>

                        <form method="post" action="{% url 'remove_review' company.id review.id %}">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <button type="submit" class="btn btn-danger">Remove Review</button>
                        </form>

                    {% endif %}
                </div>
            </div>
        {% endfor %}

       <div class="container">
        <h2>Edit Review</h2>


        <form style="display: inline-block " method="post">
            {% csrf_token %}
            <p>
                <label for="{{ form.rating.id_for_label }}">Rating:</label>
                {{ form.rating }}
            </p>
            <p>
                <label for="{{ form.comment.id_for_label }}">Review:</label>
                {{ form.review }}
            </p>
            <button type="submit" class="btn btn-primary">Update Review</button>

        </form>

        <form style="display: inline-block " method="post" action="{% url 'remove_review' company.id review_id %}">
                    {% csrf_token %}
            <button type="submit" class="btn btn-danger">Remove Review</button>
        </form>
           <br>
        <a style="display: inline-block " href="{% url 'internship_detail' company_id=company.id %}" class="btn btn-secondary mt-3">Back to Internship Details</a>
       </div>
    </div>
    </div>
{% endblock %}
</body>

</html>
